*{
    font-family: 'Raleway', sans-serif;
}

.navBarCategoryList{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 40px;
}

.navBarCategoryList a{
    text-decoration: none;
}

.navBarCategoryList li{
    list-style-type: none;
    color: gray;
    font-weight: 600;
    font-size: 20px;
    padding: 0 20px;
    border-bottom: 1.5px solid rgb(53, 53, 53);
    border-bottom-width: 0;
}

.navBarCategoryList li::after{
    display: block;
    content: '';
    border-bottom: solid 3px #007f08;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    margin-top: 3px;
  }

  .navBarCategoryList li:hover::after{
    transform: scaleX(1); 
  }

  .navBarCategoryList li:hover{
    color: rgb(53, 53, 53);
    transition: 0.2s;
  }