.itemListContainer{
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemListContainer h2{
    font-size: 40px;
    text-transform: capitalize;
}

ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    max-width: 1280px;
}

ul li{
    list-style-type: none;
    margin: 20px;
}

ul li a{
    text-decoration: none;
}